@import "../../styles/variables";

.auth {
  max-width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .auth-container {
    background-color: white;
    width: 500px;
    border: 1px solid $border;
    border-radius: 2%;
    padding: 30px;
  }
}
