.dialog__item {
  $self: &;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;

  &:hover, &--selected {
    background-color: #c2c2c262;
  }

  &-online {
    width: 10px;
    height: 10px;
    border: white;
    border-radius: 20px;
    background: rgb(88, 247, 82);
    position: absolute;
    bottom: 0px;
    right: 10px;
  }

  &-avatar {
    position: relative;
    padding-right: 10px;

    img, .random-avatar {
      width: 35px;
      height: 35px;
    }
  }

  &-date {
    font-size: 10px;
    opacity: 0.7;
  }

  &-status {
    float: right;
    margin-top: 10px;
  }

  &-user-name {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }

  &-info {
    align-self: flex-start;
  }

  &-unread {
    font-size: 10px;
    width: 15px;
    height: 15px;
    border: white;
    border-radius: 20px;
    color: white;
    background: rgb(247, 82, 82);
  }

  &-user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.7;
    font-size: 14px;
  }

  &-message {
    overflow: hidden;
    padding-right: 15px;
  }
}
