@keyframes changeLetter {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.typing {
  padding-left: 15px;
  text-align: left;
  .typing-animation {
    &:after {
      animation: changeLetter 1s linear infinite alternate;
      display: inline;
      content: "";
    }
  }
}
